<?php
/**
 * Copyright © 2016 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

?>
<div class="newsletter">
	<div class='newsletter-title'>
		<p class="des"><?php /* @escapeNotVerified */ echo __('<span>Special Ofers</span> For Subscribers') ?></p>
		<h3><?php /* @escapeNotVerified */ echo __('Ten Percent Member Discount ') ?></h3>
		<label><?php /* @escapeNotVerified */ echo __('Subscribe to our newsletters now and stay up to date with new collections, the latest lookbooks and exclusive offers.') ?></label>		
	</div>
	<form class="form subscribe"
		novalidate
		action="<?php /* @escapeNotVerified */ echo $block->getFormActionUrl() ?>"
		method="post"
		data-mage-init='{"validation": {"errorClass": "mage-error"}}'
		id="newsletter-validate-detail">

		<div class="control">
			<input name="email" type="email" id="newsletter"
						placeholder="<?php /* @escapeNotVerified */ echo __('Enter your email address') ?>"
						data-validate="{required:true, 'validate-email':true}"/>
						
			<button class="action subscribe primary" title="<?php /* @escapeNotVerified */ echo __('Subscribe') ?>" type="submit">
			<span><?php /* @escapeNotVerified */ echo __('Subscribe') ?></span>
			</button>			
		</div>

	</form>
</div>
