<div class="main-container">
	<?php echo $block->getLayout()->createBlock('Plazathemes\Bannerslider\Block\Bannerslider')->setTemplate('Plazathemes_Bannerslider::bannerslider.phtml')->toHtml();?>
	<div class="ma-banner">
		<?php echo $this->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('banner_home1_page2')->toHtml(); ?>
	</div>
	<div class="ma-category">
		<?php echo $this->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('category_products2')->toHtml(); ?>
	</div>	
	<div class="ma-blog">		
		<?php echo $block->getLayout()->createBlock('Plazathemes\Blog\Block\Sidebar\Recent')->setTemplate('Plazathemes_Blog::sidebar/slider.phtml')->toHtml();?>
	</div>
</div>


