<div class="main-container">
	<?php echo $block->getLayout()->createBlock('Plazathemes\Bannerslider\Block\Bannerslider')->setTemplate('Plazathemes_Bannerslider::bannerslider.phtml')->toHtml();?>
	<div class="ma-category">
		<?php echo $this->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('corporate_about')->toHtml(); ?>
	</div>
	<div class="ma-category">
		<?php echo $this->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('category_products2')->toHtml(); ?>
	</div>
	<div class="banner-text2">
		<div class="container-inner">
			<?php echo $this->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('banner_text2_page3')->toHtml(); ?>
		</div>	
	</div>
	
	<div class="ma-category">
		<div class="row proup-products">
			<div class="col-sm-6">
				<?php echo $block->getLayout()->createBlock('Plazathemes\Newproductslider\Block\Newproductslider')->setTemplate('Plazathemes_Newproductslider::newproductslider.phtml')->toHtml();?>
			</div>
			<div class="col-sm-6">
				<?php echo $block->getLayout()->createBlock('Plazathemes\Featureproductslider\Block\Featureproductslider')->setTemplate('Plazathemes_Featureproductslider::featureproductslider.phtml')->toHtml();?>
			</div>
		</div>
	</div>
	<div class="ma-category">	
		<?php echo $block->getLayout()->createBlock('Plazathemes\Blog\Block\Sidebar\Recent')->setTemplate('Plazathemes_Blog::sidebar/slider.phtml')->toHtml();?>
	</div>
</div>


