<?php $block->renderFileLessToCss(); ?>
<header class="header-container">
		<div class="top-bar">
			<div class="container-inner">
				<div class="row">
					<div class="col-sm-5 text-left">
						<?php echo $this->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('block_info_left')->toHtml();?>
					</div>
					<div class="col-sm-7 text-right">
						<?php echo $this->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('block_info_right')->toHtml();?>
					</div>
				</div>
				
			</div>
		</div>
		<div class="header">
			<div class="container-inner">
				<div class="row">
					<div class="col-sm-4">
						<?php echo $this->getChildHtml("store_language"); ?>
						<?php echo $this->getChildHtml("currency"); ?>
					</div>
					<div class="col-sm-4 text-center">
						
						<?php echo $this->getChildHtml("logo"); ?>
					</div>
					
					<div class="col-sm-4 text-right">
						<div class="absolute">
							<div class="search-switcher">
								<?php echo $this->getChildHtml("top.search"); ?>
							</div>
							<?php echo $this->getChildHtml("minicart");?>
							<div class="link-hover clearfix">
								<p class="icon"></p>
								<div>
									<div class="my-acount">
										<strong class="label"><span><?php /* @escapeNotVerified */ echo __('My Account') ?></span></strong>
										<?php echo $this->getChildHtml("top.links"); ?>
									</div>
									
								</div>
							</div>
							
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="nav-ozmegamenu">
			<div class="container-inner">
				<div class="container-size">
					<?php echo $this->getChildHtml("hozmegamenu_top"); ?>
				</div>					
			</div>
		</div>
		<div class="nav-ozmegamenu-inner">
			<div class="mobile-bar-icon"><span><?php /* @escapeNotVerified */ echo __('mobile icon'); ?></span></div>
		</div>
		<div class="mobile-bar-content">
			<div class ="mobile-bar-close"><?php /* @escapeNotVerified */ echo __('Close'); ?></div>
			<ul class = "tabs-mobile">
				<li class="item item-menu"><?php /* @escapeNotVerified */ echo __('Menu'); ?></li>
			</ul>
			<div class="tabs-content-mobile tabs-menu">
				<?php echo $this->getChildHtml("mobilemenu"); ?>
			</div>
		</div>
</header>
<script type="text/javascript">
require(["jquery"], function($){
	$(document).ready(function(){
		<!-- show, hide mobile bar content -->
		$(".mobile-bar-icon").click(function(){
			$(".mobile-bar-content").addClass("open");
		});
		$(".mobile-bar-close").click(function(){
			$(".mobile-bar-content").removeClass("open");
		});
	
	});
	
	$(window).scroll(function () {
	   if ($(this).scrollTop() > 140) {
		 $('.nav-ozmegamenu').addClass("fix-nav-ozmegamenu");
	   } else {
		$('.nav-ozmegamenu').removeClass("fix-nav-ozmegamenu");
	   }
	});
});
</script>



